.container{
    .groups{
        button{
            margin-right: 3rem!important;
        }
    }

    .skills{
        margin-top: 3rem!important;
    }

    .subskills{
        margin-top: 3rem!important;
    }
}
